div {
    text-align: center;
    width:400px height:300px;
}

img {
    
    width:25%;
   
}
h1 {
    font-family:arial ;
    font-size:40px;
}
h2 {
    font-family:arial;
    font-size:15px;
}
a{
    font-family:arial;
    font-size:15px;
    text-decoration: none;
    color: yellow;
}
body {
    background-color:darkorange;
}